.board {
  display: grid;
  grid-template-columns: repeat(3, 48px);
}

.cell {
  width: 48px;
  height: 48px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  font-weight: bold;
  color: #333;
}